.navbar-custom { 
       background-color: #70CCFF; 
} 
.user_label{
    color:white;
    padding-right: 5px;
}

.checkbox{
	text-align: center;
}

.form_control{
	margin-right: 5px;
}

#login{
	color: #70CCFF;
}

#white_logo{
	width: 30%;
}

.welcome_screen{
	align-items: center;
	text-align: center;
	margin-top: 10%;
}

#signup_block{
	background-color: #70CCFF;
}

.signup{
	color: white;
}

#signup:link{
	text-decoration: none;
	color:black;
}

#signup:hover{
	text-decoration: underline;
}

#signup:visited{
	text-decoration: none;
}

#employee{
	display: none;
	text-align: center;
}

#candidate{
	display: none;
	text-align: center;
}

#description{
	height: 10vh;
}

.candidateUserinput{
	width: 50%;
}

.employerUserinput{
	width: 50%;
}

.button{
	display:none;
	text-align: center;
}

#program{
	display: none;
}

